.card {
	border: transparent;
}

.card-create{
	width: 850px;
	height: 750px;
}

.create-box{
	width:100%;
	margin:auto;
    min-width: 850px;
	min-height:750px;
	position:relative;
	background: white;
	border: solid #999999;
}

.create-snip{
	width:100%;
	height:100%;
	position:relative;
	padding:10% 10% 10% 10%;
	
}

.title{
    font-size:16px;
    font-weight: bold;
    color:black;
    margin-bottom: 30px;
}

.label-field{
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-right: 0;
    margin-right: 50px;
    color:black;
	margin-left: 5px;
	width: 100px;
}

:-ms-input-placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::placeholder,
select
{
    font-size: 14px;
    color: rgb(155, 155, 155);
    border:1px solid #999999;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.custom-alert{
    font-size: 12px;
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 20px;
}

input, select {
    margin-bottom: 20px;
}

button {
    margin-right: 30px;
    margin-left: 30px;
    width: 150px;
}