body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin-top: 40px;
  }
  
.title {
  font-size: 28px;
  font-weight: bold;
  color: #5a2d0c;
  margin-bottom: 20px;
}

.title_second {
  font-size: 18px;
  font-weight: bold;
  color: #5a2d0c;
  margin-bottom: 20px;
}
  
  .form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
    color: #984C0C;
  }
  
  .form-control, .form-select, .form-check-input {
    border: 2px solid #984C0C;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form-control:focus, .form-select:focus {
    border-color: #653208;
    box-shadow: 0 0 0 .25rem rgba(101, 50, 8, 0.25);
  }
  
  .register-btn {
    background-color: #6C757D;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .register-btn-active {
    background-color: #FD7E14 !important;
  }
  
  .register-btn:hover {
    font-weight: bold;
  }
  
  /* Estilos para placeholder */
  ::placeholder {
    color: #9FA1A9 !important;
  }
  
  :-ms-input-placeholder {
    color: #9FA1A9 !important;
  }
  
  ::-ms-input-placeholder{
    color: #9FA1A9 !important;
  }
  