.idea

.venv
**/venv
**/**/venv

**/**.db
**/__pycache__
**/**/__pycache__

postgres-data
scripts

**.mp3

.env-prd

offers
offers/*

data_app
data_app/*


**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
**/npm-debug.log
**/yarn-error.log

# IDEs and editors
**/.idea/
.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# Visual Studio Code
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/.history/*

# Miscellaneous
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# System files
**/.DS_Store
.DS_Store
**/Thumbs.db
**/.angular

**/.coverage

**/reports