.idea
.DS_Store

.angular
.angular/**
coverage
coverage/**
cypress
cypress/**
dist
dist/**
node_modules
node_modules/**
coverage
coverage/**
reports
reports/**
.vscode
.vscode/**

cypress.config.ts
karma.conf.js
README.md

src/**.spec.ts