<div class="container-fluid mt-4">
  <div class="row">
    <!-- Salespeople Table -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Salespeople</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Filter by name</th>
                <th>Zone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of paginatedSalespeople; let i = index">
                <td>
                  <input type="checkbox" [disabled]="selectedSalesperson && selectedSalesperson !== person" [(ngModel)]="person.selected" (change)="onSalespersonSelect(person)" />
                  <img [src]="person.imageUrl" class="rounded-circle ml-2" width="40" height="40" alt="salesperson" />
                  <span class="ml-2">{{ person.name }}</span>
                </td>
                <td>{{ person.zone }}</td>
                <td>{{ person.email }}</td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentSalespeoplePage === 1">
                <a class="page-link" (click)="changeSalespeoplePage(currentSalespeoplePage - 1)">&laquo; Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of salespeoplePageNumbers" [class.active]="page === currentSalespeoplePage">
                <a class="page-link" (click)="changeSalespeoplePage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentSalespeoplePage === salespeopleTotalPages">
                <a class="page-link" (click)="changeSalespeoplePage(currentSalespeoplePage + 1)">Next &raquo;</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Customers Table -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Customers</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Filter by name</th>
                <th>Zone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of paginatedCustomers">
                <td>
                  <input type="checkbox" [(ngModel)]="customer.selected" />
                  <img [src]="customer.imageUrl" class="rounded-circle ml-2" width="40" height="40" alt="customer" />
                  <div class="ml-2 d-inline-block">
                    <div>{{ customer.name }}</div>
                    <div class="text-muted small">{{ customer.email }}</div>
                  </div>
                </td>
                <td>{{ customer.zone }}</td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentCustomersPage === 1">
                <a class="page-link" (click)="changeCustomersPage(currentCustomersPage - 1)">&laquo; Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of customersPageNumbers" [class.active]="page === currentCustomersPage">
                <a class="page-link" (click)="changeCustomersPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentCustomersPage === customersTotalPages">
                <a class="page-link" (click)="changeCustomersPage(currentCustomersPage + 1)">Next &raquo;</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
