wheel
flask~=2.3.2
flask_cors==3.0.10
flask_restful
flask_sqlalchemy==3.0.3
gunicorn
jsonschema
marshmallow
marshmallow_sqlalchemy
psycopg2-binary==2.9.6
# psycopg2==2.9.6  # Commented out to avoid conflict
python-abc
python-dotenv
sqlalchemy
exceptiongroup
requests
Werkzeug
pytest
pytest-cov
pytest-mock
pytest-env
Faker
requests-mock==1.12.1
python-dotenv

google-api-core==2.18.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.21.1